.about-us-section{
    background: rgb(47, 85, 116);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 100vh;
}

.about-us-section h1{
    margin: 4rem 0 0 0;
    font-size: 32px; 
    line-height: 55px;
}