.home-section{
    background: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-section h1{
    font-size: 65px;
    line-height: 55px;
    margin: 14px;
}

.home-section h2{
    color: rgb(214, 94, 110);
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    font-style: italic;
}