section{
    padding: 6rem auto auto 4rem;
}

.home-section{
    background: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top: 6rem; */
}

.home-section h1{
    font-size: 48px;
    line-height: 55px;
    margin: 4rem 14px 0 14px;
}

.home-section h2{
    color: rgb(214, 94, 110);
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    font-style: italic;
}

@media(min-width: 40rem){
    .home-section h1{
        font-size: 65px;
    }
}