body{
    margin: unset;
    height: 100vh;
    font-family: 'Baloo Bhaina 2', cursive;
}

.header{
    background: rgb(214, 94, 110);
    color: white;
    padding: 6px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 800;
}

.hamburger-btn{
    margin: 1rem;
}

.header-list{
    display: none;
    list-style: none;
    padding-left: 0;
}

.header-link{
    text-decoration: none;
    color: white;
    font-size: larger;
}


@media (min-width: 40rem){
    .header{
        justify-content: flex-end;
    }
    .header-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    .header-link{
        padding-right: 3rem;
    }
    .hamburger-btn{
       display: none;
    }
}